.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
    text-align: center;
  }

.upper-links {
    text-align: right;
    padding-top: 8px;
    padding-right: 15px;
    font-size: 15px;
}

h2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: blue;
}

h3 {
  font-family: sans-serif;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding-left: 15px;
}

h4 {
  font-family: sans-serif;
  font-size: 17px;
  color: rgb(214, 21, 21);
  padding-left: 30px;
}

.divs-advanced {
  padding-left: 30px;
  font-size: 13px;
}

h5 {
  font-family: sans-serif;
  font-size: 15px;
  color: black;
  padding-left: 30px;
}

h6 {
  font-family: sans-serif;
  font-size: 13px;
  color: black;
}

label{
  display: table-cell;
  text-align: right;
}
input {
display: table-column;
}

div.row{
  display:table-row;
}