h1 {
    text-align: center;
    font-family: Sans-serif;
    font-size: 80px;
    font-weight: bolder;
}

.center {
    text-align: center;
  }

.upper-links {
    text-align: right;
    padding-top: 8px;
    padding-right: 15px;
    font-size: 15px;
}

h2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: blue;
}

h3 {
  font-family: sans-serif;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding-left: 15px;
}

h4 {
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(180, 35, 35);
  padding-left: 30px;
  font-weight: bolder;
}

.divs-advanced {
  padding-left: 30px;
  font-size: 13px;
}

h5 {
  font-family: sans-serif;
  font-size: 15px;
  color: black;
  padding-left: 30px;
}